<html>

<head>
    <meta charset="UTF-8">
    <title>ConversionUtil</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="icon" href="/static/images/calculator.png">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    {% include 'includes/_navbar.html'%}
    {% include 'includes/_messages.html' %}


    {% block body %}{% endblock %}

    <br>
    <footer class="footer" style="background-color: FFFFFF;">
        <div class="container" style="text-align:center">
            <div class="content has-text-centered">
                <p>
                    <strong>ConversionUtil</strong> by Peter Bryant<img src="/static/images/transfer.png" alt="transfer"
                        width="35" height="auto"> <br>
                    <span style="font-size:xx-small; color:grey; font-style:italic">Built with Flask.</span>
                </p>
                <!-- Insert github logo -->
                <div style="text-align:center">
                    <p style="font-size:small"><i class="fa fa-github"
                            style="font-size:24px; text-align:center"></i>&nbsp; <a
                            href="https://github.com/peter-w-bryant/ConversionUtil"> View Source Code on Github.</a>
                    </p>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>